body{
    text-align: center;
}
p {
    margin-top: 0px;
  }


ts{
  text-shadow:0 0 20px rgb(7, 255, 251),2px 3px 3px #141414, 0 0 100px #00D4D1;color:#00FFFC;
  background-color:#272727;
}
   
  fieldset {
    margin-bottom: 15px;
    padding: 10px;
  }
   
  legend {
    padding: 0px 3px;
    font-weight: bold;
    font-variant: small-caps;
  }
   
  label {
    width: 110px;
    display: inline-block;
    vertical-align: top;
    margin: 6px;
  }
   
  em {
    font-weight: bold;
    font-style: normal;
    color: #f00;
  }
   
  input:focus {
    background: #eaeaea;
  }
   
  input, textarea {
    width: 249px;
  }
   
  textarea {
    height: 100px;
    width:  180px;
  }
   
  select {
    width: 254px;
  }
   
  input[type=checkbox] {
    width: 10px;
  }
   
  input[type=submit] {
    width: 150px;
    padding: 10px;
  }

  input[type=radio]{
width: 10px;
margin-top: -3px;
margin-right: 6px;
display: inline-block;
vertical-align: middle;
  }

  centre{
    margin: 0;
    vertical-align: middle;
  }