<!doctype html>
<html lang="en">
    <head>
	    <link rel ="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}"> 
    </head>
    <body>

        <h1> Formulaire d'Inscription </h1>
        <h3>Formulaire d'inscription a rien du tout</h3>
        <form action="/basedonnees" method="POST"> 
          <p><i>Complétez le formulaire. Les champs marqué par </i><em>*</em> <i>sont </i><em>obligatoires</em></p>
          <fieldset>
            <legend>Contact</legend>
              <label for="nom">Nom <em>*</em></label>
              <input id="nom" name="nom" placeholder="ROBILLIARD"  onkeyup="this.value=this.value.toUpperCase()" autofocus="" required=""><br>
              <label for="prenom" >Prénom <em>*</em></label>
              <input id="prenom" name="prenom" placeholder="Tanguy" autofocus="" required=""><br>
              <label for="telephone">Portable</label>
              <input id="telephone" name="telephone" type="tel" placeholder="0607080910" maxlength="10"pattern="[0-9]{10}" inputmode="numeric"><br>
              <label for="email">Email <em>*</em></label>
              <input id="email" name="email" type="email" placeholder="prenom.nom@mail.com" required="" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"><br>
              <label for="password">Password<sub><sub><sup> min 8</sup></sub></sub><em>*</em></label>
              <input id="password" name="password" type="password" placeholder="********" minlength="8"required="" ><br>
              <label for="age">Date de Naissance <em>*</em></label>
              <input id="age" name="age" type="date" required><br>
              <label for="sexe">Sexe </label>
              <input type="radio" id="homme" name="sexe" value="H"  selected checked><label for="homme">Homme</label>
              <input type="radio" id="femme" name="sexe" value="F" checked><label for="femme">Femme</label>
              <input type="radio" id="nonbinaire" name="sexe" value="NB" checked><label for="nonbinaire">Non Binaire</label>
                           
          </fieldset>
         
          <fieldset>
            <legend>Choisissez vos activité favorites</legend>
            
            <label for="sport"><input id="sport" type="checkbox" name="activity_list[]" value="sport"> Sport</label>
            <label for="musique"><input id="musique" type="checkbox" name="activity_list[]" value="musique"> Musique</label>
            <label for="voyage"><input id="voyage" type="checkbox" name="activity_list[]" value="voyage"> Voyage</label>
            <label for="plage"><input id="plage" type="checkbox" name="activity_list[]" value="plage"> Plage</label>
            <label for="lecture"><input id="lecture" type="checkbox" name="activity_list[]" value="lecture"> Lecture</label>
            <label for="theatre"><input id="theatre" type="checkbox" name="activity_list[]" value="theatre"> Théâtre</label>
            <label for="cinema"><input id="cinema" type="checkbox" name="activity_list[]" value="cinema"> Cinéma</label>
            <label for="soiree"><input id="soiree" type="checkbox" name="activity_list[]" value="soiree"> Soirées</label>
            <br>
            
            <label for="comments">Pourquoi avez vous choisi ces activités ? 
                Avez-vous d'autres centres d'intérêt ? Si oui, précisez. 
            </label>
            <textarea id="comments" name="comments"></textarea>       
        </fieldset>
        <fieldset>
            <legend>Votre Pays d'Origine </legend>
            <label for="pays">Pays </label>
            <select id="pays" name ="pays" >
                <option value="A" name="pays"> Autriche </option>
                <option value="B" name="pays"> Belgique </option>
                <option value="C" name="pays"> Canada </option>
                <option value="D" name="pays"> Danemark </option>
                <option value="E" name="pays"> Espagne </option>
                <option value="F" name="pays" selected> France</option>                    
                <option value="G" name="pays"> Gabon </option>
                <option value="H" name="pays"> Hongrie </option>
                <option value="I" name="pays"> Italie </option>
                <option value="J" name="pays"> Jordanie </option>
                <option value="L" name="pays"> Luxembourg </option>
                <option value="M" name="pays"> Moldavie </option>
                <option value="P" name="pays"> Pologne </option>                 
                <option value="T" name="pays"> Tunisie </option>
                <option value="V" name="pays"> Venezuela </option>
                <option value="US" name="pays"> USA </option>   
                <option value="Autre" name="autre" >Autre</option>
                </select>         
        </fieldset><br>
        <label for="avis" >Votre avis sur la qualité de ce formulaire</label><br><br>
        <input type="range" name="avis" list="avis" min = "0" max = "10">
        <datalist id="avis">
            <option value="0" label="0">
            <option value="1">
            <option value="2">
            <option value="3">
            <option value="4">
            <option value="5" label="5">
            <option value="6">
            <option value="7">
            <option value="8">
            <option value="9">
            <option value="10" label="10">
        </datalist>      
        <br>
        <input type="submit" value="Finir l'inscription"> 
        </form>
<br>
        <a href="{{url_for('login')}}" > Déjà un compte ? Connection </a>
          
    </body>
</html>